{% extends "Info/base.html" %} 
{% block content %} 
<!-- Content will be dynamically loaded here -->
<h2><center>Introduction to Farming</center></h2>
<div class="disease-container">
  <div class="disease-image">
    <p class="image-content">
      Farming is the practice of cultivating the soil, producing crops, 
      and raising livestock for food, fiber, and other products used to
      sustain and enhance human life. It is a crucial aspect of
      agriculture, which involves various activities related to the
      cultivation of plants and the management of animals.
  
    <br />Farming encompasses a wide range of practices and techniques,
    including:
    <h3>1.Crop Cultivation:</h3>
    Growing plants for food, fiber, medicinal purposes, or other
    uses. Common crops include grains (wheat, rice, corn), vegetables,
    fruits, and legumes.<br>
   
      <br><img src="https://cdn.downtoearth.org.in/library/large/2022-06-09/0.06974800_1654779705_istock-503646746.jpg" alt="">
      <img src="https://cdn.downtoearth.org.in/library/large/2022-04-27/0.74071300_1651040211_rj008363.jpg" alt="">
      <br>Crop production is a common agricultural practice followed by worldwide farmers to grow and produce crops to use as food and fibre. This practice includes all the feed sources that are required to maintain and produce crops. Listed below are few practices used during crop production.
      <br>     
      <ul>
        <li>Preparation of Soil.</li><br>
        <li>Sowing of Seeds.</li><br>
        <li>Irrigation.</li><br>
        <li>Application of manure, pesticides, and fertilizers to the crops.</li><br>
        <li>Protecting and Harvesting Crops.</li><br>
        <li>Storage and Preserving the produced Crops.</li><br>
        <li>The ultimate stages of crop production are harvesting and storage.</li><br>
      </ul>
     
      <h3>2.Livestock Rearing:</h3>

    Raising animals, such as cattle, poultry, sheep, or pigs, for meat,
    dairy, eggs, wool, and other products.Livestock farming is the practice of raising animals for their products. It includes activities such as breeding, feeding, and caring for the animals. Animals are typically kept in large pastures or pens and fed a balanced diet to remain healthy and productive.
      <br><br>
    Typical work completed on a farm includes feeding, cleaning pens, providing medical care for the animals, milking cows and goats, shearing sheep for wool, and collecting eggs. In addition, farmers must also monitor the health of their animals and make sure that they are safe from predators and diseases.<br>
      <br>
    <img src="https://cdn.downtoearth.org.in/library/large/2022-05-30/0.43584800_1653903909_cattle.jpg" alt="">
      <img src="https://cdn.britannica.com/63/173663-050-53884C5D/Herd-goats-field.jpg?" alt="">
      <img src="https://cdn.britannica.com/40/157440-050-4EEF1C1B/Sheep-grazing-field.jpg?" alt=""><br>
      For example, if a farmer has sheep on their farm, they must ensure that the sheep are fed regularly and given adequate medical care. They might also need to shear the sheep to harvest their wool, ensure that the herd is free of disease, and protect them from predators or other wildlife.

    <h3>3.Agroforestry:</h3>
    Integrating trees and shrubs into farming systems to provide
    additional products, such as timber, fruits, and improved ecological
    benefits.<br>
    <br>Agroforestry (or agro-sylviculture) is a land use management system in which combinations of trees or shrubs are grown around or among crops or pastureland. Agroforestry combines agricultural and forestry technologies to create more diverse, productive, profitable, healthy, and sustainable land-use systems.<br>
    <br><img src="https://agritech.tnau.ac.in/forestry/forest_agrisilvicultural" alt="">
    <img src="https://www.ceew.in/sites/default/files/WhatsApp%20Image%202023-09-01%20at%2018.34.2.jpg" alt="">
      

    <h3>4.Aquaculture:</h3>
    Cultivating fish, shellfish, and other aquatic organisms in controlled
    environments.<br>
    <br>Aquaculture is breeding, raising, and harvesting fish, shellfish, and aquatic plants. Basically, it's farming in water. U.S. aquaculture is an environmentally responsible source of food and commercial products, helps to create healthier habitats, and is used to rebuild stocks of threatened or endangered species.<br>
    <br><img src="https://www.globalseafood.org/wp-content/uploads/2018/12/Thai-prawn-farm_SS_1500-1280x959.jpg" alt="">
    <img src="https://www.globalseafood.org/wp-content/uploads/2019/03/aquaculture_101_infograph_blog_001_bap_supplychain-1.png" alt="">


    <h3>5.Organic Farming:</h3>
    Employing methods that avoid synthetic pesticides and fertilizers,
    focusing on sustainable practices.<br>
    <br>Organic farming, also known as ecological farming or biological farming, is an agricultural system that uses fertilizers of organic origin such as compost manure, green manure, and bone meal and places emphasis on techniques such as crop rotation and companion planting.<br>
    <br>
     <img src="https://www.precedenceresearch.com/insightimg/Organic-Food-Market-Size.jpg" alt="">
     <img src="https://agritech.tnau.ac.in/org_farm/principles%20of%20organic%20farming.jpg" alt="">
   

    <h3>6.Sustainable Farming:</h3>
    Implementing practices that maintain or enhance environmental health,
    economic viability, and social well-being over the long term.<br>
    <br>Sustainable agriculture is farming in such a way to protect the environment, aid and expand natural resources and to make the best use of nonrenewable resources.<br>
    <img src="https://sarep.ucdavis.edu/sites/g/files/dgvnsk9171/files/inline-images/b05de933-4b17-45fd-a693-9e5e89485905.png" alt="">
      <img src="https://sarep.ucdavis.edu/sites/g/files/dgvnsk9171/files/inline-images/b738f22e-8977-4279-b2e0-0650c5b23115.png" alt="">

    <h3>7.Precision Farming:</h3>
    Using technology and data to optimize farming practices, such as
    precision planting, GPS-guided tractors, and drone-based monitoring.<br>
    <br>Precision agriculture uses information technology (IT) to ensure that crops and soil receive exactly what they need for optimum health and productivity. This also ensures profitability, sustainability and protection of the environment.<br>
    <br> <img src="https://media.licdn.com/dms/image/D5612AQGzDdIKCy04DA/article-cover_image-shrink_720_1280/0/1679301262629?e=2147483647&v=beta&t=BiQOuLP0IfkHrfwEUE8yFaR9uC1IERMneXLX856iw-Q" alt="">
   
   <h3>Summary</h3>
    Farming plays a critical role in providing the world's population with
    essential food and resources. It has evolved over the centuries,
    adapting to changes in technology, climate, and societal needs. The
    methods employed in farming can vary widely depending on factors like
    climate, soil type, available resources, and cultural practices.

    </p>
  </div>
</div>
{% endblock content %}